@model Phonebook.Models.Contact
@{
    ViewData["Title"] = "Edit Contact Page";
}

<div id="login">
    <form asp-action="Edit" asp-area="Contacts" method="post">
            <input asp-for="FirstName" name="firstname" type="text" placeholder="First name" required>
            <input asp-for="LastName" name="lastname" type="text" placeholder="Last name" required>
            <input asp-for="Email" name="email" type="text" placeholder="Email" required>
            <input asp-for="Mobiles" name="mobiles" type="text" placeholder="Mobile" required>
            <input type="submit" value="Edit Contact">
            <a asp-action="Index" asp-controller="Contacts" type="btn" class="btn btn-danger btn-sm" style="margin-top: 10px; margin-left: 110px;">Cancel</a>
    </form>
</div>